{% extends "index.html" %}
{% block title %}{{auction.title}}'s Settings{% endblock %}
{% block head %}
    {{ super() }}
    <style>
    .errors { color: red;}
    </style>
{% endblock %}
{% block content %}
    <h1>{{auction.title}}'s auction values summary</h1>
    <ul>
        <li>Auction Title: {{ auction.title}}</li>
        <li>Auction Description: {{ auction.description}}</li>
        <li>Auction Creation Date: {{ auction.created_at}}</li>
        <li>Auction Minimum Price: {{ auction.min_price}}</li>
        <li>Auction Creator: {{ auction.creator.username}}</li>
        <li>Auction isPublic: {{ auction.isPublic}}</li>
        <li>Auction isRunning: {{ auction.isRunning}}</li>
    </ul>
{% endblock %}