{% extends "index.html" %}
{% block title %}Create Auction{% endblock %}
{% block head %}
    {{ super() }}
    <style>
    .errors { color: red;}
    </style>
{% endblock %}
{% block content %}
    <h1>Create a new auction on Bidr using the form provided.</h1>
    <form method="POST" action="/auction/create">
        <div>{{ form.title.label }}: {{ form.title() }}</div>
        {% if form.title.errors %}
            <ul class="errors">{% for error in form.title.errors %}<li>{{ error }}</li>{% endfor %}</ul>
        {% endif %}
        <div>{{ form.description.label }}: {{ form.description() }}</div>
        {% if form.description.errors %}
            <ul class="errors">{% for error in form.description.errors %}<li>{{ error }}</li>{% endfor %}</ul>
        {% endif %}
        <div>{{ form.expiration.label }}: {{ form.expiration() }}</div>
        {% if form.expiration.errors %}
            <ul class="errors">{% for error in form.expiration.errors %}<li>{{ error }}</li>{% endfor %}</ul>
        {% endif %}
        <div>{{ form.min_price.label }}: {{ form.min_price() }}</div>
        {% if form.min_price.errors %}
            <ul class="errors">{% for error in form.min_price.errors %}<li>{{ error }}</li>{% endfor %}</ul>
        {% endif %}
        <div>{{ form.isPublic.label }}: {{ form.isPublic() }}</div>
        {% if form.isPublic.errors %}
            <ul class="errors">{% for error in form.isPublic.errors %}<li>{{ error }}</li>{% endfor %}</ul>
        {% endif %}
        <div>{{ form.submit() }}</div>
    </form>
{% endblock %}