{% extends "index.html" %}
{% block title %}{{session['username']}}'s Dashboard{% endblock %}
{% block head %}
    {{ super() }}
    <style>
    .errors { color: red;}
    </style>
{% endblock %}
{% block content %}
    <h1>{{session['username']}}'s dashboard</h1>
    <p><a href="/user/{{session['username']}}">View</a> or <a href="/user/{{session['username']}}/settings">edit</a> profile or <a href="/logout">logout</a>.</p>

     <ul>
        <li><a href="/auction/create"><button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-fire"></span> Create an Auction</button></a></li>
    </ul>

    <ul class='auctionListing'>
        {% for auction in user.auctions_available %}
            <li>Available Auction: <a href="/auction/{{ auction.id }}">{{ auction.title }}</a></li>
        {% endfor %}
        {% for auction in user.auctions_in %}
            <li>"In" Auction: <a href="/auction/{{ auction.id }}">{{ auction.title }}</a></li>
        {% endfor %}
        {% for auction in user.auctions_pending %}
            <li>Available Auction: <a href="/auction/{{ auction.id }}">{{ auction.title }}</a></li>
        {% endfor %}
        {% for auction in user.auctions_past %}
            <li>Available Auction: <a href="/auction/{{ auction.id }}">{{ auction.title }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}