{% extends "index.html" %}
{% block title %}{{user.username}}'s Account Settings{% endblock %}
{% block head %}
    {{ super() }}
    <style>
    .errors { color: red;}
    </style>
{% endblock %}
{% block content %}
    <h1>Change {{user.username}}'s password.</h1>
    <form method="POST" action="/user/{{user.username}}/settings/changepassword">
        <div>{{ form.currentPassword.label }}: {{ form.currentPassword() }}</div>
        {% if form.currentPassword.errors %}
            <ul class="errors">{% for error in form.currentPassword.errors %}<li>{{ error }}</li>{% endfor %}</ul>
        {% endif %}
        <div>{{ form.newPassword.label }}: {{ form.newPassword() }}</div>
        {% if form.newPassword.errors %}
            <ul class="errors">{% for error in form.newPassword.errors %}<li>{{ error }}</li>{% endfor %}</ul>
        {% endif %}
        <div>{{ form.confirmNewPassword.label }}: {{ form.confirmNewPassword() }}</div>
        {% if form.confirmNewPassword.errors %}
            <ul class="errors">{% for error in form.confirmNewPassword.errors %}<li>{{ error }}</li>{% endfor %}</ul>
        {% endif %}
        <div>{{ form.submit() }}</div>
    </form>
{% endblock %}